*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    transition: 0.5s
}

body{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(#2b1055, #000);
}

/*Navigation bar*/
nav {
    height: 80px;
    width: 100%;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    z-index: 10000;
}


nav .logo {
    color: #fff;
    font-weight: bold;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    margin-left: 20px;
}

.nav-links {
    float: right;
    margin-right: 110px;
}

.nav-links li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

.nav-links li a{
    padding: 6px 15px;
    font-size: 17px;
    color: #fff;
    border-radius: 20px;
}

.nav-links li a:hover{
    background: #fff;
    color: #2b1055;
    transition: .5s;
}

.active1:nth-child(1) {
    background: #fff;
    color: #2b1055;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}



@media (max-width: 900px){
    nav .logo{
        font-size:30px;
        padding-left: 14%;
    }

    .nav-links li a{
        font-size: 16px;

    }

    #btn {
        padding-left: 30%;
    }
}

@media (max-width: 858px) {

    #text {
        padding-left: 1%;
    }

    #btn {
        padding-left: 10%;
    }

    .checkbtn{
        display: block;
        
    }
    .nav-links{
        position: fixed;
        height: 100%;
        width: 100%;
        background-image: url(gengermove.gif);
        background-size: cover;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .10s;
    }

    #check {
        float: right;
        display: none;
    }

    #check:checked ~ ul {
        top: 80px;
        left: 0;
    }


}

/*section*/
section {
    position: relative;
    width: 100%;
    height: 100vh;
}

.home img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 1000;
    mix-blend-mode:color-dodge;
}

#monster{
    z-index: 40;
    justify-content: center;
}

#mountains_behind {
    filter: saturate(50%)
}

#mountains_front{
    filter: saturate(20%);
    filter: hue-rotate(grey);
}

#lightining {
    filter: opacity(50%);
}

#text {
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    align-items: center;
    z-index: 10000;
}

.flex-container {
    background-color: #2b1055;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url(./attack.gif);
    background-size: cover;
}

#btn {
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 20px;
    background-color: rgb(255, 0, 68);
    color: #fff ;
    font-size: 1.5rem;
    z-index: 9;
    transform: translateY(100px);
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-out 0.3s;
    font-weight: bold;
    outline: none;
}

#btn:hover {
    box-shadow: inset 300px 0 0 0 #f9e506;
    cursor: pointer;
    color: #000;
}



/* rain animation */
.rain{
    position: relative;
    height: 100vh;
    background-image: url(./rain.png);
    animation: rain 0.3s linear infinite;
    z-index: -3;
}
@keyframes rain {
    0%{
        background-position: 0% 0%;
    }
    100%{
        background-position: 10% 100%;
    }
}

.rain::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(./lightining.png);
    top: 0px;
    transform: rotate(180deg);
    animation: ligtining 4s linear infinite;
    opacity: 1;
}

@keyframes ligtining {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    21%{
        opacity: 1;
    }
    25%{
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    31%{
        opacity: 1;
    }
    35%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

/*scroll down effect*/
.scroll-down{
    height: 50px;
    width: 30px;
    border: 2px solid #fff;
    z-index: 50;
    position: absolute;
    left: 50%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
}

.scroll-down::before,
.scroll-down::after{
    content: '';
    position: absolute;
    top: 10%;
    left: 50%;
    border: 2px solid #fff;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down::after{
    top: 20%; 
    animation-delay: .3s;
}

@keyframes scroll-down{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        top: 90%;
    }
}

/*Splitting effect*/
.splitting .char {
    animation: slide-in .7s cubic-bezier(.3, 0, .7, 1) both;
    animation-delay: calc(50ms * var(--char-index));
  }
  
  @keyframes slide-in {
    from {
      transform: scale(0.4) translateY(80%);
      opacity: 0;
    }
  }
  

  /*Text*/
  #slogan{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    align-items: center;
    z-index: 10000;
}






















